.row {
  overflow: hidden;
}
.row .left {
  background-color: #369;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  overflow-y: hidden;
}
.nav-sidebar {
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.Showcase__style__list {
  width: 100%;
  height: calc(100vh);
}

.Showcase__style__item {
  cursor: move;
}
